<app-product-register [showModal]="showModalProduct" (onCloseModal)="handleProductPopup(false)"
  (getAllProducts)="getAllProducts()" [productId]="productId"></app-product-register>

<div class="sm:px-6 w-full">
  <div class="py-4 md:py-7 flex flex-space w-full">
    <div class="bg-gray-200 py-4 px-8 flex justify-between items-center w-full">
      <h1 class="text-2xl font-semibold text-gray-800">Listado de productos</h1>
      <button (click)="handleProductPopup(true)" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
        Agregar
      </button>
    </div>
  </div>
  <app-filters (onFilter)="getAllProducts($event)"></app-filters>
  <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead>
          <tr class="focus:outline-none h-16 border border-gray-100 rounded">
            <th class="focus:text-indigo-600">
              <div class="flex items-center pl-5">
                <p class="text-base font-medium leading-none text-gray-700 mr-2">Nombre</p>
              </div>
            </th>
            <th class="focus:text-indigo-600">
              <div class="flex items-center pl-5">
                <p class="text-base font-medium leading-none text-gray-700 mr-2">SKU</p>
              </div>
            </th>
            <th class="focus:text-indigo-600">
              <div class="flex items-center pl-5">
                <p class="text-base font-medium leading-none text-gray-700 mr-2">Description</p>
              </div>
            </th>
            <th class="focus:text-indigo-600">
              <div class="flex items-center pl-5">
                <p class="text-base font-medium leading-none text-gray-700 mr-2">Precio</p>
              </div>
            </th>
            <th class="focus:text-indigo-600">
              <div class="flex items-center pl-5">
                <p class="text-base font-medium leading-none text-gray-700 mr-2">Stock</p>
              </div>
            </th>
            <th class="focus:text-indigo-600">
              <div class="flex items-center pl-5">
                <p class="text-base font-medium leading-none text-gray-700 mr-2">Acciones</p>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded"
            *ngFor="let product of products">
            <td>
              <p class="text-sm leading-none text-gray-600 ml-2">{{ product.name }}</p>
            </td>
            <td>
              <p class="text-sm leading-none text-gray-600 ml-2">{{ product.sku }}</p>
            </td>
            <td>
              <p class="text-sm leading-none text-gray-600 ml-2">{{ product.description }}</p>
            </td>
            <td>
              <p class="text-sm leading-none text-gray-600 ml-2">{{ product.price }}</p>
            </td>
            <td>
              <p class="text-sm leading-none text-gray-600 ml-2">{{ product.stock }}</p>
            </td>
            <td class="pl-4">
              <button
                class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none" (click)="handleEdit(product._id)">Editar</button>
              <button
                class="ml-4 focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none py-3 px-5 rounded focus:outline-none text-red-700 bg-red-100 rounded" (click)="deleteProduct(product._id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex items-center justify-center mt-8">
      <nav class="bg-white rounded-lg shadow-md p-2">
        <ul class="flex space-x-2">
          <li *ngIf="filters.page > 0">
            <a href="#" class="px-3 py-2 text-gray-600 hover:text-blue-500" (click)="handlePage(filters.page-1)">Anterior</a>
          </li>
          <li *ngFor=" let item of totalPages(); let i=index">
              <a href="#" [ngClass]="{'bg-blue-500 text-white': i === filters.page}" class="px-3 py-2 rounded"
                (click)="handlePage(i)">{{ i+1 }}</a>
          </li>
          <li *ngIf="filters.page < (filters.count / filters.per_page)-1">
            <a href="#" class="px-3 py-2 text-gray-600 hover:text-blue-500"
              (click)="handlePage(filters.page+1)">Siguiente</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
