<div class="bg-gray-200 p-4 flex items-center justify-between ">
  <div class="flex items-center space-x-4">
    <form id="filterForm" [formGroup]="filters" (submit)="handleFilter()">
      <label for="filterName" class="text-gray-600">Nombre:</label>
      <input type="text" formControlName="name" class="border border-gray-300 rounded-md px-2 py-1"
        placeholder="Filtrar por nombre">
      <label for="filterSku" class="text-gray-600">SKU:</label>
      <input type="text" formControlName="sku" class="border border-gray-300 rounded-md px-2 py-1"
        placeholder="Filtrar por SKU">
    </form>
  </div>
  <button form="filterForm" type="submit" class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600">Filtrar</button>
</div>
